body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b57cf1;
}

.To-docontainer {
    background-color: #242b3d;
    padding: 20px;
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    width:250px;
    height:250px;
}

.todo-container h2 {
    margin-top: 0;
}

.To-Dolist {
    list-style-type: none;
    padding: 0;
}

.To-Dolist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.To-Dolist input[type="checkbox"] {
    margin-right: 10px;
}

.To-Dolist input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #999;
}